@import 'normalize.css';
@import 'tailwindcss';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@theme {
  --font-display: 'Satoshi', 'sans-serif';
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

.light {
  --bg-image-url: url('./assets/images/bg.png');
  --color-bg: #f9fafb;
  /* nền tổng thể */
  --color-surface: #ffffff;
  /* nền card/panel */
  --color-surface-hover: #f3f4f6;
  /* hover nhẹ */
  --color-border: #e5e7eb;
  /* viền nhẹ */
  --color-text: #111827;
  /* chữ chính */
  --color-text-muted: #6b7280;
  /* chữ phụ */
  --color-primary: #2563eb;
  /* xanh chủ đạo */
  --color-primary-hover: #1e40af;
  /* hover primary */
  --color-success: #16a34a;
  /* xanh thành công */
  --color-warning: #f59e0b;
  /* vàng cảnh báo */
  --color-danger: #dc2626;
  /* đỏ lỗi */
  --color-info: #3b82f6;
  /* xanh thông tin */

  --task-overdue-bg: #e5e7eb;
  /* bg-gray-200 */
  --task-soon-bg: #fecaca;
  /* bg-red-200 */
  --task-medium-bg: #fef9c3;
  /* bg-yellow-100 */
  --task-safe-bg: #dcfce7;
  /* bg-green-100 */
  --task-long-bg: #dbeafe;
  /* bg-blue-100 */

  --task-border-low: #9ca3af;
  /* gray-400 */
  --task-border-medium: #22c55e;
  /* green-500 */
  --task-border-high: #eab308;
  /* yellow-500 */
  --task-border-highest: #f97316;
  /* orange-500 */
  --task-border-urgent: #dc2626;
  /* red-600 */
}

.dark {
  --color-bg-root: #334155;
  --color-bg: #0f172a;
  /* nền tổng thể */
  --color-surface: #1e293b;
  /* card/panel */
  --color-surface-hover: #3c4a5e;
  /* hover nhẹ */
  --color-border: #475569;
  /* viền mờ */
  --color-text: #f1f5f9;
  /* chữ chính */
  --color-text-muted: #94a3b8;
  /* chữ phụ */
  --color-primary: #3b82f6;
  /* xanh chủ đạo */
  --color-primary-hover: #60a5fa;
  /* hover primary */
  --color-success: #22c55e;
  /* xanh thành công */
  --color-warning: #eab308;
  /* vàng cảnh báo */
  --color-danger: #ef4444;
  /* đỏ lỗi */
  --color-info: #60a5fa;
  /* xanh thông tin */

  --task-overdue-bg: #1e293b;
  /* slate-800 */
  --task-soon-bg: #ce4040;
  /* red-900/60 */
  --task-medium-bg: #ddce57;
  /* yellow-900/50 */
  --task-safe-bg: #14532d;
  /* green-900/40 */
  --task-long-bg: #1e3a8a;
  /* blue-900/40 */

  --task-border-low: #6b7280;
  /* gray-500 */
  --task-border-medium: #4ade80;
  /* green-400 */
  --task-border-high: #facc15;
  /* yellow-400 */
  --task-border-highest: #fb923c;
  /* orange-400 */
  --task-border-urgent: #b31d1d;
  /* red-400 */
}
